<h3>Log In</h3>
<% if flash.has?(:message) %>
  <br></br>
  <i><%= flash[:message] %></i>
  <br></br>
<% end %>
<form action="/login" method="post">
  <label for="username">Username:</label><input type="text" name="username" required>
  <br></br>
  <label for="password">Password:</label><input type="password" name="password" required>
  <input type="submit" name="submit">
</form>

<br></br>
<a href="/">Homepage</a>
