Change Your Password
<% if flash.has?(:message) %>
  <br></br>
  <%= flash[:message] %>
  <br></br>
<% end %>
<form action="/users/<%= @user.username %>/password" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
    <label for="user[password]">Enter your current password:</label><input type="password" name="user[password]" required>
    <label for="user_password">Enter your new password:</label><input type="password" name="user_password" required>
  <input type="hidden" name="id" value="<%= @user.id %>">
<input type="submit" value="Submit">
</form>
