New Plant
<form action="/plants/new" method="post">
  <label for="plant[name]">Name:</label><input type="text" name="plant[name]" required>
  <br></br>
  Chose an existing location:
  <% @user.locations.each do |location| %>
  <input type="checkbox" name="location" value="<%= location.id %>"><%= location.name %></input>
  <% end %>
  <br></br>

  <label for="location_name">And/or add a new location:</label><input type="text" name="location_name">

  <input type="submit" value="Submit">
</form>

<br></br>
<a href="/users/<%= @user.username %>">Your Homepage</a>
