
Garden Record
<br></br>

<% if flash.has?(:message) %>
  <%= flash[:message] %>
  <br></br>
<% end %>

<form action="/signup" method="get">
  <input type="submit" value="Sign Up">
</form>


<form action="/login" method="get">
  <input type="submit" value="Log In">
</form>


<form action="/logout" method="get">
  <input type="submit" value="Logout">
</form>
